<!doctype html>
<html>

<head>
<link href="styles.css" rel="stylesheet">
</head>
	<body>
		
      <h1> 1001453836 </h1>
      <h1> Makwana, Neelam </h1>

		<br> <br>

        <table>
            <tr>


                <th>name</th>


            </tr>
            {% for row in row %}
                <tr>


                    <td>
                        {{row['NAME']}}

                    </td>
                </tr>


            {% endfor %}
        </table>
	</body>
</html>